html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.card {
    border: none;
    transition: 0.3s;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title,
h1,
h2 {
    color: black;
}